<form (ngSubmit)="onSubmit()" class="new-facility" #form="ngForm">
  <div class="personal">
    <h2>Detalhes</h2>
    <mat-form-field>
      <mat-label>Nome/Razão Social</mat-label>
      <input
        matInput
        [(ngModel)]="facility.nome"
        name="nome"
        required
        type="text"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nome Fantasia</mat-label>
      <input
        matInput
        [(ngModel)]="facility.nomeFantasia"
        name="nomeFantasia"
        required
        type="text"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Telefone</mat-label>
      <input
        matInput
        [(ngModel)]="facility.telefone"
        name="telefone"
        required
        type="tel"
        pattern="[0-9]{11}"
        maxlength="11"
        minlength="11"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        [(ngModel)]="facility.email"
        name="email"
        required
        type="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      />
    </mat-form-field>
  </div>
  <div class="address">
    <h2>Endereço</h2>
    <div class="cep-container">
      <mat-form-field>
        <mat-label>Digite seu CEP</mat-label>
        <input
          matInput
          placeholder="CEP"
          [(ngModel)]="facility.cep"
          name="cep"
          required
          type="number"
          maxlength="9"
          minlength="9"
        />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="getAddress(facility.cep)"
      >
        Buscar Endereço
      </button>
    </div>
    <mat-form-field>
      <mat-label>Rua</mat-label>
      <input
        matInput
        [(ngModel)]="facility.rua"
        name="rua"
        required
        type="text"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Número</mat-label>
      <input
        matInput
        placeholder="Número"
        [(ngModel)]="facility.numero"
        name="numero"
        required
        type="number"
        pattern="[0-9]{1,5}"
        maxlength="8"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Complemento</mat-label>
      <input
        matInput
        placeholder="Complemento"
        [(ngModel)]="facility.complemento"
        name="complemento"
        type="text"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Bairro</mat-label>
      <input
        matInput
        placeholder="Bairro"
        [(ngModel)]="facility.bairro"
        name="bairro"
        required
        type="text"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cidade</mat-label>
      <input
        matInput
        placeholder="Cidade"
        [(ngModel)]="facility.cidade"
        name="cidade"
        required
        type="text"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Estado</mat-label>
      <input
        matInput
        placeholder="Estado"
        [(ngModel)]="facility.estado"
        name="estado"
        required
        type="text"
      />
    </mat-form-field>
  </div>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid"
  >
    Cadastrar
  </button>
</form>
