<mat-toolbar color="primary">
  <mat-toolbar-row class="header">
    <span>Teste Prático - HGE</span>
    <button mat-raised-button routerLink="/">
      <mat-icon
        aria-hidden="false"
        aria-label="home icon"
        fontIcon="home"
      ></mat-icon>
      Início
    </button>
    <button mat-raised-button routerLink="/register-facility">
      <mat-icon
        aria-hidden="false"
        aria-label="add icon"
        fontIcon="add"
      ></mat-icon>
      Cadastrar estabelecimento
    </button>
  </mat-toolbar-row>
</mat-toolbar>
