.header {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.example-container {
  width: 400px;
  height: 100%;
  border: 1px solid #555;
}

.mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .header button:not(.mobile-menu) {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}
