<div class="container">
  <div class="filter-container">
    <mat-form-field class="filter-input">
      <mat-label>Filtre por CNES</mat-label>
      <input
        matInput
        (keyup)="filterByCnes($event)"
        placeholder="Digite o CNES"
        #input
      />
    </mat-form-field>
    <mat-form-field class="filter-input">
      <mat-label>Filtre por razão social</mat-label>
      <input
        matInput
        (keyup)="filterByRazao($event)"
        placeholder="Digite o nome de razão social"
        #input
      />
    </mat-form-field>
    <mat-form-field class="filter-input">
      <mat-label>Filtre por nome fantasia</mat-label>
      <input
        matInput
        (keyup)="filterByFantasia($event)"
        placeholder="Digite o ome Fantasia"
        #input
      />
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" class="facilities-table">
    <ng-container matColumnDef="codigo_cnes">
      <th mat-header-cell *matHeaderCellDef>Código CNES</th>
      <td mat-cell *matCellDef="let facility">{{ facility.codigo_cnes }}</td>
    </ng-container>

    <ng-container matColumnDef="nome_razao_social">
      <th mat-header-cell *matHeaderCellDef>Razão Social</th>
      <td mat-cell *matCellDef="let facility">
        {{ facility.nome_razao_social }}
      </td>
    </ng-container>

    <ng-container matColumnDef="nome_fantasia">
      <th mat-header-cell *matHeaderCellDef>Nome Fantasia</th>
      <td mat-cell *matCellDef="let facility">{{ facility.nome_fantasia }}</td>
    </ng-container>

    <ng-container matColumnDef="numero_telefone_estabelecimento">
      <th mat-header-cell *matHeaderCellDef>Telefone</th>
      <td mat-cell *matCellDef="let facility">
        {{ facility.numero_telefone_estabelecimento ?? "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="endereco_email_estabelecimento">
      <th mat-header-cell *matHeaderCellDef>E-mail</th>
      <td mat-cell *matCellDef="let facility">
        {{ facility.endereco_email_estabelecimento ?? "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="numero_cnpj">
      <th mat-header-cell *matHeaderCellDef>CNPJ</th>
      <td mat-cell *matCellDef="let facility">
        {{ facility.numero_cnpj ?? "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="detalhes">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let facility">
        <button
          mat-flat-button
          color="primary"
          (click)="goToDetails(facility.codigo_cnes)"
        >
          Detalhes
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div *ngIf="loading" class="spinner">
    <mat-spinner></mat-spinner>
    <p>Carregando dados...</p>
  </div>
</div>
