.container {
  max-width: 80%;
  margin: 2rem auto;
}

.filter-input {
  width: 100%;
}

.facilities-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.facilities-table tr:hover {
  background-color: #c5c2f5;
  cursor: pointer;
}

.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2rem;
}
