.container {
  max-width: 80%;
  margin: 2rem auto;
}

.filter-container {
  display: flex;
  gap: 1rem;
}

.filter-input {
  width: 100%;
}

.facilities-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.facilities-table tr:hover {
  background-color: #c5c2f5;
  cursor: pointer;
}

.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2rem;
}

@media (max-width: 768px) {
  .filter-container {
    flex-direction: column;
    gap: 0;
  }
}
